body {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; /* Wyśrodkowanie boxów w poziomie */
  gap: 20px;
}

.mainBox {
  margin-top: 40px;
  border: 4px solid black;
  border-radius: 20px;
  width: 60%;
  height: 60%;
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 7px 2px gray;
  background: radial-gradient(white, #f2f2f2);
}


.mainBoxName {
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  filter: drop-shadow(lightgray 3px 3px 2px);
}

.UMGlogo{
  width: 13%;
  margin: 20px;
  filter: drop-shadow(gray 2px 2px 2px);
}

.midrow {
  flex-direction: row;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  justify-items: center;
}

.columnFlex {
  margin-left: 100px;
  width: 200px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.columnFlex2 {
  margin-left: 100px;
  width: 300px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.columnFlex3 {
  margin-right: 50px;
  width: 200px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.rowFlex {
  width: 700px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.trojkat {
  width: 150px;
  height: 70px;
  filter: drop-shadow(gray 2px 2px 2px);
}

.knob1 {
  width: 100px;
  height: 100px;
  filter: drop-shadow(gray -3px 3px 3px);
}

.knob2 {
  width: 100px;
  height: 100px;
  filter: drop-shadow(gray 3px 3px 3px);
}

.switch {
  align-self: center;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  filter: drop-shadow(gray 2px 2px 2px);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #c43617;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.desc {
  margin-top: 10px;
  align-self: center;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  filter: drop-shadow(lightgray 1px 1px 1px);
}

.bottomRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.roundButton {
  margin-left: 15px;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c43617;
  opacity: 1;
  filter: drop-shadow(gray 2px 2px 2px);
}

.roundButton[data-type="black"] {
  background-color: black;
}
.roundButton:hover {
  cursor: pointer;
  opacity: 0.8;
}



.textGroup {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: flex-start;
}

.knobText {
  font-size: 20px;
  margin-bottom: 30px;
}

.knobTextSecondary {
  font-size: 20px;
}

#knob2desc {
  margin-right: 110px;
}

.unit {
  font-size: 20px;
  filter: drop-shadow(lightgray 2px 2px 2px);
}

.stuffBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 20px auto;
  position: relative;
  top: 20px;
}

.imageOverlay {
  position: relative;
  width: 300px;
  height: 600px;
  z-index: 1;
}

.multimeter1,
.multimeter2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 296px;
  height: 588px;
  filter: drop-shadow(gray 2px 2px 5px);
}

.multimeterKnob1,
.multimeterKnob2 {
  position: absolute;
  transform-origin: center;
  top: 260px;
  left: 60px;
  width: 175px;
  height: 175px;
}

.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 300px;
  margin-top: 150px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  z-index: 2000;
  background-color: white;
  box-shadow: 2px 2px 7px 2px gray;
}

/* Styl dla diody LED */
.led {
  width: 25px;
  height: 25px;
  border-radius: 50%; /* Okrągły kształt */
  background-color: #ccc; /* Domyślnie szara (wyłączona) */
  margin-top: 10px;
  transition: background-color 0.3s ease; /* Płynna zmiana koloru */
}

/* Gdy sieć włączona (LED świeci na zielono) */
.led.on {
  background-color: green;
}

.multimeter-display {
  position: relative;
  top: 10.25%;
  width: 70%;
  left: 10%;
  transform: none;
  font-family: "Digital-7 Italic", sans-serif;
  font-size: 80px;
  text-align: right;
  margin-left: -5px;
  color: black;
  background-color: #5c6657;
  padding: 5px;
  border-radius: 5px;
  display: block;
  margin-top: 5px;
}

svg.cable-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  overflow: visible;
}

.multimeterButtons {
  display: flex;
  position: absolute;
  bottom: 12%;
  left: 65%;
  transform: translateX(-50%);
  width: 80%;
}

